.App {
  width: 50%;
  margin: auto;
}

.hasBorder {
  border: 1px solid;
}

.ConditionsView {
  margin: 10px;
  max-width: 620px;
}

.ConditionsHeader {
  font-weight: bold;
  padding-left: 4px;
}

input.factProp {
  margin-right: 10px;
}

.FactView {
  padding: 3px;
  text-align: center;
}
